# Google OAuth Credentials
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_API_KEY=YOUR_GOOGLE_GEMINI_API_KEY_HERE

# LinkedIn OAuth Credentials
LINKEDIN_CLIENT_ID=YOUR_LINKEDIN_CLIENT_ID_HERE
LINKEDIN_CLIENT_SECRET=YOUR_LINKEDIN_CLIENT_SECRET_HERE

# MongoDB
MONGO_URI=YOUR_MONGO_URI_HERE

# App
JWT_SECRET=YOUR_JWT_SECRET_HERE
PORT=5001

# Allowed client URL for CORS
CLIENT_URL=http://localhost:3000

# Razorpay
RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID_HERE
RAZORPAY_KEY_SECRET=YOUR_RAZORPAY_KEY_SECRET_HERE

# Groq API Credentials
GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
